/* Resetando o estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e fundo do site */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: #007bff;
  color: #fff;
}

/* Estilo da navegação */
.navbar {
  background-color: #007bff;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #ffc107 !important;
}

/* Seção de Produtos */
.produtos-section {
  background-color: #fff;
  padding: 60px 0;
}

.produtos-section h2 {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 40px;
}
/* Resetando o estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e fundo do site */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: #007bff;
  color: #fff;
}

/* Estilo da navegação */
.navbar {
  background-color: #007bff;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #ffc107 !important;
}

/* Estilo das colunas de produtos */
.col-md-4 {
  margin-bottom: 40px;
}

.col-md-4 h5 {
  font-size: 1.25rem;
  color: #007bff;
  margin-bottom: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-body .card-title {
  font-size: 1.25rem;
  color: #333;
}



.card-body .btn {
  background-color: #495f75;
  color: #dde74b;
  border: none;
}

.card-body .btn:hover {
  background-color: #0fa87afa;
}
/* Efeito de hover na card */
.card:hover {
  transform: translateY(-10px);
}



/* Rodapé */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  color: #ffc107;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .produtos-section h2 {
    font-size: 2rem;
  }
}
